.movie-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px auto;
}

.movie-card {
    padding: 10px;
    margin: 10px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 200px;
}

.btn {
    margin: 5px;
    padding: 10px 20px;
    border-radius: 5px;
}